<section>
    <div>
        <h1>Gastos por mês</h1>
        <table mat-table [dataSource]="monthlyExpenses" class="mat-elevation-z8">

            <ng-container matColumnDef="month">
                <th mat-header-cell *matHeaderCellDef> Mês </th>
                <td mat-cell *matCellDef="let expense"> {{ convertMonthNumber(expense.month) }} </td>
            </ng-container>

            <ng-container matColumnDef="spent_value">
                <th mat-header-cell *matHeaderCellDef> Total Gasto </th>
                <td mat-cell *matCellDef="let expense; let i = index"> {{ expense.totalValue | currency:'BRL' }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</section>