<mat-toolbar>
    <img class="logo" src="../../../assets/images/itau.png">
    <button mat-button [matMenuTriggerFor]="menu">Gastos</button>
    
</mat-toolbar>
<mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/general-expenses" routerLinkActive="active">Gastos gerais</button>
    <button mat-menu-item routerLink="/monthly-expenses" routerLinkActive="active">Gastos totais por mês</button>
</mat-menu>