section {
    margin-top: 30px;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    > div > table {
        margin: 5px;
    }
}         