<section>
    <h1>Gastos gerais</h1>
    <div>
        <table mat-table [dataSource]="generalExpenses" class="mat-elevation-z8">
            <ng-container matColumnDef="origin">
              <th mat-header-cell *matHeaderCellDef> Origem </th>
              <td mat-cell *matCellDef="let expense"> {{ expense.origem }} </td>
            </ng-container>
          
            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef> Categoria </th>
              <td mat-cell *matCellDef="let expense"> {{ convertCategoryNumber(expense.categoria) }} </td>
            </ng-container>
          
            <ng-container matColumnDef="value_spent">
              <th mat-header-cell *matHeaderCellDef> Valor Gasto </th>
              <td mat-cell *matCellDef="let expense"> {{ expense.valor | currency:'BRL' }} </td>
            </ng-container>
          
            <ng-container matColumnDef="month">
              <th mat-header-cell *matHeaderCellDef> Mês </th>
              <td mat-cell *matCellDef="let expense"> {{ convertMonthNumber(expense.mes_lancamento) }} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>         
    </div>   
</section>