@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~normalize.css';

* {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
    color: #140083;
    border-bottom: 1px solid #FF7200;
}

section {
    margin-top: 30px;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}   

section>div {
    width: 89%;
    height: 75vh;
    overflow: auto;
}
section>div>table {
    width: 99%;
}

.mat-header-cell {
    color: #FF7200;
    font-size: 1.1rem;
}